# version: "3.8"
# services:
#   app:
#     build: .
#     container_name: express-app
#     ports:
#       - "5000:5000"
#     environment:
#       DATABASE_URL: ${DATABASE_URL}
#     depends_on:
#       - db
#     restart: always # This will ensure the app container restarts if it fails
#     #volumes:
#       #- .:/usr/src/app
#     #command: npm run start

#   db:
#     image: postgres:latest
#     container_name: posgress-dockerize
#     environment:
#       POSTGRES_USER: ${POSTGRES_USER}
#       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
#       POSTGRES_DB: ${POSTGRES_DB}
#     ports:
#       - 5433:5432
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U postgres"]
#       interval: 5s
#       timeout: 5s
#       retries: 5
#     volumes:
#       - postgres_data:/var/lib/postgresql/data

# volumes:
#   postgres_data:


version: "3.8"

services:
  app:
    image: protik111/todo-back-dockerize-ec2:latest
    container_name: express-app
    # network_mode: "host"
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy
    restart: always

  db:
    image: postgres:15
    container_name: postgres-dockerize
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

