name: Deploy Backend to EC2

on:
  workflow_run:
    workflows: ['Publish Docker Image']
    types: [completed]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Stop and remove all containers
        run: docker compose down -v || true
      
      - name: Remove old image
        run: docker rmi ${{ secrets.DOCKERHUB_USERNAME }}/todo-back-dockerize-ec2:latest || true
      
      - name: Pull latest image
        run: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/todo-back-dockerize-ec2:latest
      
      - name: Start services
        run: docker compose up -d --force-recreate
      
      - name: Wait for services to be healthy
        run: sleep 10
      
      - name: Show running containers
        run: docker ps
      
      - name: Show app logs
        run: docker compose logs app --tail=50